*{
    background-color: black;
    color: antiquewhite;
    font-family: "Sometype Mono";
   /* outline: 3px solid yellow;*/
}


h1, h2, h3, h4, h5, h6{
    display: flex;
    font-size: 800% ;
    font-family: Handjet;
}

header h1{
    justify-content: center;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 0%;
    margin-bottom: 0%;
    border: 10px solid antiquewhite ;
}
#intro h3{
    padding-left: 100px;
    padding-top: 20px;
    margin: 0%;
}
#intro p{
    color: antiquewhite;
    font-size: 200%;
    text-indent: 40px;
    padding-right: 10%;
    padding-top: 30px;
    margin-left: 40px;
}
#intro span{
    color: yellow;
}

#intro div{
    display: flex;   
    font-family: "Sometype Mono";
}
#intro figure{
    padding-right: 100px;
    text-align: center;
}


#photos div{
    display: flex;
    align-items: center;
    justify-content: center;
}
#photos hr{
    display: block;
}

#photos figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    height: 500px;
    max-width: 600px;
    text-align: center;
    font-size: 2em;  
}

#list div{
    display: flex;
    justify-content: center;
    font-size: 200%;
}

#list h2{
    text-align: center;
    font-size: 600%;
    justify-content: center;
    margin: 0%;
}







@media screen and (max-width: 1440px){
    #photos div{
        display: grid;
        display: flex;
        justify-content: center;
        flex-direction: column;
        grid-template-columns: 1fr ;
        margin-left: 5%;
    }
    #photo hr{
        display: none;
    }
    #intro figure{
        margin-top: 10%;
    }
    header h1{
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media screen and (max-width: 768px){
    header h1{
        margin-left: 5%;
        margin-right: 5%;
    }
    #intro div{
        display: grid;
        display: flex;
        flex-direction: column-reverse;
        grid-template-columns: 1fr;
    }
    #intro figure{
        padding: 0%;
    }
    #intro hr{
        display: none;
    }
    #list div{
        display: flex;
        flex-direction: column;
    }
    #list h2{
        font-size: 500%;
    }
}

